.create {
}
.fup {
    margin-top: -60px;
    opacity: 0;
}
.row {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.zoomLevelSelect {
    .row {
        select {
            margin-left: 20px;
        }
    }
}

.error-msg {
    color: red;
    font-style: bold;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #0e131a;
    padding: 10px;
    width: 32vw;
    border-radius: 10px;
}